/* Custom login screen */
#loginPage h1 {
    display: none;
}
#loginPage {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0px;
    content: " ";
    background: url(https://i.imgur.com/tsZhhc7.png);
    background-size: 50% 50%;
    width: 1370px;
    height: 472px;
}
