/* Custom login screen */
.logoLibraryMenuButtonText {
  display: none;
}

.imgLogoIcon {
    display: none;
}

img[src*="css/images/mblogoicon.png"] {
    display: none;
}
#loginPage h1 {
    display: none;
}
#loginPage {
    padding-top: 30px;
}
#loginPage {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15px;
    content: " ";
    background: url(https://i.imgur.com/tsZhhc7.png);
    background-size: 100% 100%;
    width: 1360px;
    height: 475px;
}
